{% extends "base.html" %}

{% block header %}
				<div class="header">
					<h1>Hi! My Name's Will. <small>I develop software for the web.</small></h1>
					<p>RESTful services, database CRUDs, responsive websites, mobile apps - I'm interested in it all. I love working with data, and coordinating with designers to show and interact with data in amazing ways.</p>
					<p>In my spare time, I also enjoy training, competing, and coaching in sport Brazilian Jiu Jitsu.</p>
					<p>This is my blog about all of these things. If you'd like, you can learn more <a href="/pages/about-me.html">about me</a> and check out some of my <a href="/pages/projects.html">projects</a>!</p>
				</div>
{% endblock %}

{% block content %}

{% for article in articles_page.object_list %}
	<article class="post">
		<header><h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> <span class="date">{{ article.date | strftime('%B %d, %Y') }}</span></h2></header>
		<p>{{ article.content }}</p>
	</article>
{% endfor %}

{% endblock %}